<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1 style="text-align: center;">{{ fileName }}</h1>
        <pre class="pre-scrollable">
            <code>
             {{ jsonfile }}
            </code>
        </pre>
        <div style="display: inline-block;">
            <button class="btn btn-default" [routerLink]="['edit-file' , fileName]" id="bt">modifier</button>
        </div>
        <div style="display: inline-block;" class="pull-right">
            <button class="btn btn-default" (click)="delete()" id="bt">supprimer</button>
        </div>
    </div>
</div>