<nav class="navbar navbar-default" id="di">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li id="sen" [routerLink]="['home']">
                <p> <span> <img src="../assets/telechargement.jpeg"></span> GESTIONNAIRE DE FICHIERS JSON</p>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li id="men" routerLinkActive="active">
                <a [routerLink]="[ 'home' ]">Listes des fichiers</a>
            </li>
            <li id="men" routerLinkActive="active">
                <a [routerLink]="[ 'createjson' ]">Creer un fichier</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>