<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1 style="text-align: center;">Formulaire d'ajout</h1><br>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="urldebasesiteweb">Url de base site web</label>
                <input type="text" id="urldebasesiteweb" class="form-control" formControlName="urldebasesiteweb"
                    required>
            </div>
            <div class="form-group">
                <label for="imagesBaseSite">Image de base site</label>
                <input type="text" id="imagesBaseSite" class="form-control" formControlName="imagesBaseSite" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="textarea" id="description" class="form-control" formControlName="description" required>
            </div>
            <div class="form-group">
                <label for="thematiqueSite">Thematique site</label>
                <input type="text" id="thematiqueSite" class="form-control" formControlName="thematiqueSite" required>
            </div>
            <div class="form-group">
                <label for="sousCategorieSite">Sous categorie site</label>
                <input type="text" id="sousCategorieSite" class="form-control" formControlName="sousCategorieSite"
                    required>
            </div>
            <div class="form-group">
                <label for="contatcSite">Contact site</label>
                <input type="text" id="contatcSite" class="form-control" formControlName="contatcSite" required>
            </div>
            <div class="form-group">
                <label for="dateDernierTourSpider">DateDernierTourSpider</label>
                <input type="date" id="dateDernierTourSpider" class="form-control"
                    formControlName="dateDernierTourSpider" required>
            </div>
            <div class="form-group">
                <label for="dateDernierTourCrawler">DateDernierTourCrawler</label>
                <input type="date" id="dateDernierTourCrawler" class="form-control"
                    formControlName="dateDernierTourCrawler" required>
            </div>
            <div class="form-group">
                <label for="javascript">Javascript</label><br>
                <div class="custom-control custom-radio">
                    <input id="true" type="radio" class="custom-control-input" value="true"
                        formControlName="javascript">
                    <label class="custom-control-label" for="true">True</label>
                </div>

                <div class="custom-control custom-radio">
                    <input id="false" type="radio" class="custom-control-input" value="false"
                        formControlName="javascript">
                    <label class="custom-control-label" for="false">False</label>
                </div>
            </div>

            <div *ngFor="let attribut of listeAttributs">
                <div [formArrayName]="attribut">
                    <h3>{{ attribut }}</h3>
                    <div *ngFor="let att of getform(attribut).controls; let i = index">
                        <h4>Element {{ i + 1}} <span (click)="delMethode(i , getform(attribut))"
                                class="glyphicon glyphicon-remove-sign"></span></h4>
                        <div [formGroupName]="i">
                            <div class="form-group" *ngIf="att.get('noeudpere')">
                                <label for="noeudpere">Noeud pere</label>
                                <input type="text" id="noeudpere" class="form-control" formControlName="noeudpere"
                                    required>
                            </div>
                            <div class="form-group" *ngIf="att.get('proprietenoeudpere')">
                                <label for="proprietenoeudpere">Propriete noeud pere</label>
                                <input type="text" id="proprietenoeudpere" class="form-control"
                                    formControlName="proprietenoeudpere" required>
                            </div>
                            <div class="form-group" *ngIf="att.get('valeurproprietenoeudpere')">
                                <label for="valeurproprietenoeudpere">Valeur propriete noeud pere</label>
                                <input type="text" id="valeurproprietenoeudpere" class="form-control"
                                    formControlName="valeurproprietenoeudpere" required>
                            </div>
                            <div class="form-group" *ngIf="att.get('noeudfils')">
                                <label for="noeudfils">Noeud fils</label>
                                <input type="text" id="noeudfils" class="form-control" formControlName="noeudfils"
                                    required>
                            </div>
                            <div class="form-group" *ngIf="att.get('niveau')">
                                <label for="niveau">Niveau</label>
                                <input type="number" id="niveau" class="form-control" formControlName="niveau" required>
                            </div>
                            <div class="form-group" *ngIf="att.get('niveauAttribut')">
                                <label for="niveauAttribut">Niveau attribut</label>
                                <input type="date" id="niveauAttribut" class="form-control"
                                    formControlName="niveauAttribut" required>
                            </div>
                            <div class="form-group" *ngIf="att.get('tagProperty')">
                                <label for="tagProperty">Tag property</label>
                                <input type="text" id="tagProperty" class="form-control" formControlName="tagProperty"
                                    required>
                            </div>
                            <div class="form-group" *ngIf="att.get('contenurtxt')">
                                <label for="contenurtxt">Contenu txt</label>
                                <input type="text" id="contenurtxt" class="form-control" formControlName="contenurtxt"
                                    required>
                            </div>
                            <div class="form-group" *ngIf="att.get('attribVideo')">
                                <label for="attribVideo">Attribut video</label>
                                <input type="text" id="attribVideo" class="form-control" formControlName="attribVideo"
                                    required>
                            </div>
                            <div class="form-group" *ngIf="att.get('attribImg')">
                                <label for="attribImg">Attribut image</label>
                                <input type="text" id="attribImg" class="form-control" formControlName="attribImg"
                                    required>
                            </div>
                            <div class="form-group" *ngIf="att.get('metaparam')">
                                <label for="metaparam">Meta Param</label>
                                <input type="text" id="attribVideo" class="form-control" formControlName="metaparam"
                                    required>
                            </div>

                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" [disabled]="!getform(attribut).valid"
                            class="btn btn-primaryy dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            ajouter une methode
                        </button>
                        <div class="dropdown-menu " id="lis" >
                            <ul *ngFor="let methode of listeMethodes" >
                                <li class="dropdown-item" (click)="addmethode(methode , attribut , form)">
                                    {{ methode }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div *ngIf="verif" style="display: inline-block;">
                <button class="btn btn-default" id="bt" (click)="modifier()">mdifier</button>
            </div>
            <div *ngIf="verif" style="display: inline-block;" class="alert alert-primary" role="alert">
                <span style="color: green;">nom validé !!</span>
            </div>
            <br>
            <button *ngIf="verif" id="en"  [disabled]="form.invalid"class="btn btn-default" type="submit">enrgistrer</button>
            <form *ngIf="!verif" [formGroup]="form2" class="example-form">
                <div class="form-group">
                    <h3 id="nom">Donner un nom au fichier</h3>
                    <label for="i">nom</label>
                    <input type="nom" class="form-control" formControlName="nom" required>
                </div>
                <p *ngIf="exist" style="color: red;">Ce nom est deja utilise</p>
                <button [disabled]="form2.invalid" class="btn btn-default" id="bt" (click)="valider()">valider
                    nom</button>

            </form>
        </form>
        <br>
    </div>
</div>